<p>
	<% unless logged_in? %>
		<%= link_to 'Login', login_path %>
		|
		<%= link_to 'Register', new_user_path %>
	<% else %>
		Hello X,
		<%= link_to 'Publish post', '#' %>
		|
		<%= link_to 'Logout', logout_path %>
	<% end %>
</p>
